*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    scroll-behavior: smooth;
    /* background-color: rgb(212,220,231); */
    font-family: montserrat;
    overflow-x: hidden;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
    /* ********************************************************************* */
#about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  padding:0 0 50px 0;
  /* background-color: purple; */
}
.about-texts{
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 55vw;
  align-items: center;
  justify-content: center;
  padding: 30px;
  /* background-color: grey;   */
}

 
.about-texts h1{
  font-size: 35px;
  font-weight: 800;
  color: black;
  text-align: center;   
}

.about-texts p{
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  color: black;
}


  /* *********************************************************** */
 
  #believes{
    margin-top:3vh;
    display: flex;
    flex-direction:column;
    width:100vw;
    height: 65vh; 
    align-items: center;
    justify-content: center;
    /* background: grey; */
  }

  .belief-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .belief-each {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vw;
    height: 55vh;
    padding: 25px;
    gap: 20px;
    background:rgb(200,210,221);
    box-shadow: 10px 10px rgb(19,82,245);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .belief-each.visible {
    animation: slideIn 1s ease forwards;
  }
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
   
  .belief-each h1 {
    font-family: montserrat;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: black !important;
  }
  
  


