@media screen and (max-width: 767px) {
   #about{
      margin-top: 0;
      height: auto;
      padding-bottom: 0;
      /* background-color: red; */
    }
    .about-texts{
      width: 100%;
      height: auto;
      padding: 15px;
    }
    .about-texts h3{
        font-weight: bold;
    }
  /* ************************** */
    .student-pro {
    padding: 2rem 0;
    gap: 1rem;
    flex-wrap: nowrap;
    }
    .student-item{
    display: flex;
    flex-direction: column;
    height: auto;
    /* background-color: red; */
    }
    .value{ 
    width: 100vw;
    height: auto;
    padding: 1rem;
    gap: 10px;
    /* padding: 0; */

}
/* ********************* */
  .stack {
    position: relative;
    width: 90vw;
    height: 70%;
    display: grid;
    padding: 1rem;
    margin: 1rem;
  }


    /* Square image on top */
  .photo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10%;
    z-index: 1;
  }
  .slogan{
  font-size: 1.9rem; 
  text-align: center; 
  text-align: left;
  letter-spacing: 1px;
}

/* *************************** */
  #believes{
    display: flex;
    width: 100vw;
    height: auto !important;
    overflow-y: hidden;
    overflow-x: hidden;
    /* background-color: orange; */
  }

  .belief-container{
    height: 100% !important;
    width: 100vw;
    padding: 10px 0;
    /* background-color: black; */
  }
  .belief-each {
    display: flex;
    width: 95vw;
    height: 35vh !important;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
  }
    
}




/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
@media screen and (max-width: 1023px) {
    #believes {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 110vh;
        width: 100vw;
        overflow-y: hidden;
        overflow-x: hidden;
        /* background-color: orange; */
      }

      .belief-container {
        display: flex;
        justify-content: center;
        width: 98vw;
        height: auto;
        gap: 15px;
        margin-bottom: 10px;
        /* background-color: chartreuse; */
      }
      .belief-each {
        display: flex;
        width: 90%;
        height: auto;
        text-align: center;
        justify-content: center;
      }
      .belief-each h1{
        font-size: 25px;
      }

      .belief-each p {
        width: 90%;
        height: auto;
        font-size: 17px;
        /* background-color: blue; */
      }

    }



      /* ************************************8 */
       /* **************************************8 */