*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    background-color: rgb(212,220,231);
    font-family: montserrat;
}


/* START:STYLING  FOR THE NAVBAR STARTS FROM HERE */

/* General navbar styles */
.navbar{
  background-color: rgb(19,82,245) !important;
}
   /*CSS for active link */
 .nav-link.active {
  color: white !important;
  text-decoration: underline;
  text-underline-offset: 10px; 
}

/*navbar link hover effect */
.nav-link {
  color: #fff; /* Default link color */
  margin-left: 60px;
  font-size: 20px;
}

.nav-link:hover {
  color: lightblue; /* Hover color */
}

/* Change the toggler icon to white */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&& */
  
  /* END: STYLING FOR THE NAVBAR ENDS HERE */
  
/* ********************************************************************* */

#about{
    padding-top: 20vh;
    width: 100vw;
    height: auto;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
   
  }

  
  .abt-texts{
    padding-top: 6vh;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 68vw;
    align-items: center;
    justify-content: left;
    text-align: left;
    /* background-color: grey; */  
  }
  
   
  .abt-texts h1{
    font-family: montserrat;
    font-size: 35px;
    font-weight: 800;
    color: black;
    text-align: center; 
    text-decoration: underline  rgb(19,82,245);
    text-underline-offset: 10px; 
    
  }
  .abt-texts1, .abt-texts2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 25px;
    width: 100%;
    height: auto;  
    /* background-color: yellowgreen; */
  }
  .mid-pic{
    display: flex;
    width: 100vw;
    height: 50vh;
    padding: 20px;
    justify-content: space-between;
      /* background-color: orange; */
  }
  .mid-A, .mid-B{
    width: 40%;
    height: 100%;
  }
  .mid-A img, .mid-B img{
    width: 100%;
    height: 100%;
  }
  /* ****************** */
  .abt-texts1 .pic1{
    float: left;
    margin: 15px;
    height: 240px;
    width: 240px;
    shape-outside: circle(-30%);
    clip-path: circle();
    object-fit: cover;
    transform: translateX(100%); /* Start off-screen to the left */
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
  .abt-texts1 .pic2{
    float: right;
    margin: 15px;
    height: 300px;
    width: 300px;
    shape-outside: circle(-30%);
    clip-path: circle();
    object-fit: cover;
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
  .abt-texts p{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-weight: normal;
    color: black;
  }
  .abt-texts2 .picA{
    float: left;
    margin: 20px;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    shape-outside: circle(-30%);
    clip-path: circle();
    object-fit: cover;
    transform: translateX(100%); /* Start off-screen to the left */
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
  .abt-texts2 .picB{
    float: right;
    margin: 15px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    shape-outside: circle(-30%);
    clip-path: circle();
    object-fit: cover;
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }

  .mid-A{
    transform: translateX(100%); /* Start off-screen to the left */
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
  .mid-B{
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
 
  /* *********************** */
  /* PICS AT TOP LEFT TO SLIDE FROM LEFT  */
  .abt-texts1 .pic1.visible, .mid-A, .abt-texts2 .picA.visible {
    animation: slideInLeft 1s ease forwards;
  }
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%); /* Move in from the right */
      opacity: 0;
    }
    to {
      transform: translateX(0); /* End at the original position */
      opacity: 1;
    }
  }
  /* *********************************** */
   /* PICS AT BOTTOM RYT TO SLIDE FROM RYT  */
  .abt-texts2 .picB.visible, .mid-B, .abt-texts1 .pic2.visible {
    animation: slideInRight 1s ease forwards;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%); /* Move in from the right */
      opacity: 0;
    }
    to {
      transform: translateX(0); /* End at the original position */
      opacity: 1;
    }
  }

  /* *********************************************************** */
 
  #believes{
    margin-top:3vh;
    display: flex;
    flex-direction:column;
    width:100vw;
    height: 65vh; 
    align-items: center;
    justify-content: center;
    /* background: grey; */
  }

  .belief-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: orange; */
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .belief-each {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 55vh;
    background:rgb(200,210,221);
    box-shadow: 10px 10px rgb(19,82,245);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .belief-each.visible {
    animation: slideIn 1s ease forwards;
  }
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
   
  .belief-each h1 {
    font-family: montserrat;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: black !important;
    /* text-decoration: underline rgb(19,82,245); */
    /* text-underline-offset: 10px; */
  }
  
  .belief-each p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28vw;
    height: 30vh;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: black;
    /* line-height: normal; */
    /* background-color: red; */
  }
  /* ********************************************************* */
  .client-logos {
    margin-top: 20px;
    padding: 10px;
    height: 30vh;
    overflow: hidden;
    position: relative;
    background-color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .client-logos h1{
    font-family: montserrat;
    font-size: 30px;
    font-weight: 800;
    color: white;
    /* text-decoration: underline  rgb(19,82,245); */
    /* text-underline-offset: 10px;  */
  }
  
  .logo-track {
    margin-top: 15px;
    display: flex;
    gap: 2.5rem;
    width: max-content;
    animation: scroll 10s linear infinite;
  }
  
  .logo-track img {
    height: 80%;
    object-fit: contain;
    max-height: 100px;
    /* filter: grayscale(100%); */
    /* transition: filter 0.3s; */
  }
  
  /* .logo-track img:hover {
    filter: grayscale(0%);
  } */
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }


/* ************************************************************** */
/* THE FOOTER BEGINS FROM HERE  */
footer{
  margin-top: 30px;
  padding: 20px;
  background-color: rgb(19,82,245);
  width: 100vw;
  color: white;
  height: auto;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
}
/* ************************ */
.one{
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
  /* background-color: #A04000; */
}
.two{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  height: 100%;
  /* background-color: #A04000;  */
}
/* ******************************** */

/* ************* */
.ban{
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(19,82,245);
  
}

.socials{
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: yellow; */
  
}

.socials a{
  text-decoration: none;
  color: white;
}

.socials a:hover{
  color: black;
}
/* ********************************************** */
.address{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: auto;
  justify-content: center;
  align-items:flex-start;
  /* background-color: red; */
  
}
.address .fa-brands{
  text-decoration: none;
  color: white;
 }
 
 .address a{
   text-decoration: none;
   color:white;
   font-size: large;
   padding-left: 15px;
   
 }
 
 .address a:hover{
   color: black;
 }
/* ****************************************  */
.dev{
  display: flex;
  width: 20vw;
  height: 40vh;
  color: white;  
  justify-content: center;
  align-items: last baseline;
  font-size: 16px;
  text-align: center;
  /* background-color: gold; */
}

.dev a{
  color: white;
  text-decoration: none;  
}
.dev a:hover{
  color: black;
}

.tag{
 text-shadow:2px 2px 2px grey;
 animation:bayo 2s ease 1s infinite;
}

@keyframes bayo{

 0%{
    transform:rotateX(-45deg);
}
 50%{
    transform:rotateY(45deg);
}
}