@media screen and (max-width: 767px) {
  #about{
    margin-top: 20vh;
    padding-top: 0vh;
    display: flex;
    width: 100vw;
    height: auto !important;
        /* background-color: blueviolet; */
  }

  .abt-texts{
    height: auto !important;
    width: 95vw;
    /* background-color: yellow; */
  }

  .abt-texts h1{
    font-size: 23px !important;
  }

  .abt-texts p{
    font-size: 18px;
  }
  /* ******************************* */
  
/* *************************** */
  #believes{
    display: flex;
    width: 100vw;
    height: auto !important;
    overflow-y: hidden;
    overflow-x: hidden;
    /* background-color: orange; */
  }

  .belief-container{
    height: auto !important;
    width: 100vw;
    /* background-color: black; */
  }
  .belief-each {
    display: flex;
    width: 98vw;
    height: 48vh !important;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
  }

  .belief-each h1{
    font-size: 19px;
    /* font-weight: bold; */
  }

  

  .belief-each p {
     width: 95vw;
    height: 33vh !important;
  }

    
}




/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
@media screen and (max-width: 1023px) {
    #about{
        display: flex;
        width: 100vw;
        height: auto;
        /* background-color: red; */
    }
    .abt-texts{
        display: flex;
        padding-top: 2vh;
        width: 100vw;
        height: auto;
        /* background-color: green; */
      }
      .mid-pic{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        padding: 20px;
        justify-content: space-evenly;
        gap: 10px;
        align-items: center;
        /* background-color: orange; */
      }
      .mid-pic img{
        width: 90%;
        height: 40%;
      }
     
      .abt-texts h1{
        font-size:25px;
        text-align: justify;
        font-weight: bolder;
        /* background-color: blue; */
      }
      .abt-texts1, .abt-texts2{
        padding: 10px;
      }
      .abt-texts1 p, .abt-texts2 p{
        padding: 0;
        width: 95%;
        text-align: justify;
        /* background-color: red; */
        
      }

      .abt-texts1 .pic1, .abt-texts2 .picA{
        height: 130px;
        width: 130px;
        border-radius: 30%;
        /* object-fit: cover; */
      }
      .abt-texts1 .pic2, .abt-texts2 .picB{
        height: 210px;
        width: 210px;
        border-radius: 30%;
      }
     

      /* ************************************** */
      #believes {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 110vh;
        width: 100vw;
        overflow-y: hidden;
        overflow-x: hidden;
        /* background-color: orange; */
      }

      .belief-container {
        display: flex;
        justify-content: center;
        width: 98vw;
        height: 105vh;
        gap: 17px;
        /* background-color: chartreuse; */
      }
      .belief-each {
        display: flex;
        width: 85vw;
        height: 30vh;
        text-align: center;
        justify-content: center;
        /* padding-left: 0; */
      }
      .belief-each h1{
        font-size: 25px;
        /* font-weight: bold; */
      }

      .belief-each p {
        width: 95%;
        height: 20vh;
        font-size: 17px;
        /* background-color: blue; */
      }





      /* ************************************8 */
       /* **************************************8 */
    footer{
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: auto;
      justify-content: center;
      align-items: center;
    }
    .one, .two{
      width: 100%;
      height: auto;
      /* background-color: #A04000; */
    }
    .two{
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    .ban{
      width: 45vw;
    }
    .address, .dev{
      width: 100%;
    }
    .dev{
      align-items: first baseline;
      height: auto;

    }

    .foot{
      display: flex;
      width: 100vw;
      height: 100%;
    }


}