@media screen and (max-width: 767px) {
      #cont{
      margin-top: 0;
      height: auto;
      padding: 0;
      /* background-color: red; */
      }
    .cont-texts{
        /* margin-top: 0; */
        width: 100%;
        height: 40vh;
        padding: 15px;
      }
         .cont-texts{
        width: 100%;
        height: auto;
        padding: 0;
      }
      .cont-texts h3{
          font-weight: bold;
      }
       .talk{
    padding: 2rem 0;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* width: 100vw; */
    /* height: 50vh; */
    /* background-color: purple; */
  }

}

/* ********************************************* */
@media screen and (max-width: 1023px){
    #cont{
      margin-top: 0;
      height: auto;
      padding: 0;
      /* background-color: red; */
      }
      .cont-texts{
        width: 100%;
        height: auto;
        padding: 15px;
      }
      .cont-texts h3{
          font-weight: bold;
      }
    /* ************************** */
    .talk{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
      width: 65vw;
      height: auto;
      /* background-color: purple; */
    }
    .talk-A{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height:auto;
      /* background-color: orange; */
    }
    .talk-A p{
      width: 100%;
    }
    /* ************************************************************** */
.contact-form{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  /* background-color: orange; */
}

.cont-form{
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
form input{
  padding: 0;
  margin-bottom: 15px;
  width: 300px;
  height: 40px;
}
textarea{
  padding: 0;
  width: 300px;
}

.submit{
  margin-top: 12px;
}

#maps{
  position: relative;
  width: 100%;
  height: 35%;
  margin-left: 0;
  margin-top: 10vh;
  border-radius: 0;
}

#maps iframe{
  border-radius: 0;
}

}