@media screen and (max-width: 767px) {
    .contact-texts{
        margin-top: 12vh;
        width: 95vw;
        height: 40vh;
      }

}











@media screen and (max-width: 1023px){
    #cont{
        height: 100vh;
      }
      .contact-texts{
        margin-top: 12vh;
        width: 90vw;
        height: 35vh;
      }
      .contact-texts h3{
          font-weight: bold;
      }
    /* ************************** */
    /* ************************************************************** */
.contact-form{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 135vh;
  /* background-color: orange; */
}

.cont-form{
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%;
  width: 90%;
}
form input{
  padding: 0;
  margin-bottom: 15px;
  width: 300px;
  height: 40px;
}
textarea{
  padding: 0;
  width: 300px;
}

.submit{
  margin-top: 12px;
}

#maps{
  position: relative;
  width: 100%;
  height: 35%;
  margin-left: 0;
  margin-top: 10vh;
  border-radius: 0;
}

#maps iframe{
  border-radius: 0;
}

 /* **************************************8 */
 footer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;
}
.one, .two{
  width: 100%;
  height: auto;
  /* background-color: #A04000; */
}
.two{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ban{
  width: 45vw;
}
.address, .dev{
  width: 100%;
}
.dev{
  align-items: first baseline;
  height: auto;

}

.foot{
  display: flex;
  width: 100vw;
  height: 100%;
}



}