*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    background-color: rgb(212,220,231);
}


/* START:STYLING  FOR THE NAVBAR STARTS FROM HERE */

.navbar{
  background-color: rgb(19,82,245) !important;
}
 /* CSS for active link */
 .nav-link.active {
  color: white !important;
  text-decoration: underline;
  text-underline-offset: 10px; 
}

/*navbar link hover effect */
.nav-link {
  color: #fff; /* Default link color */
  margin-left: 50px;
  font-size: 18px;
}

.nav-link:hover {
  color: lightblue;
}

/* Change the toggler icon to white */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&& */
  
  /* END: STYLING FOR THE NAVBAR ENDS HERE */
/* ***********************************************************8 */
#cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 170vh;
    /* background-color: purple; */
    
  
  }
  /* ******************************************** */
.contact-texts{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 53vw;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
    
  }
  
   
  .contact-texts h3{
    /* margin-bottom: 100px; */
    font-family: fantasy;
    color: black;
    text-align: center; 
    text-decoration: underline  rgb(19,82,245);
    text-underline-offset: 10px; 
    
  }
  
  .contact-texts p{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: black;
  }
  /* ************************************************************** */

  /* ****************************************** */
.contact-form{
  margin-top: 4vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
  height: 100vh;
  /* background-color: orange; */
}

.cont-form{
  margin-top: 50px;
  margin-left: 40px;
  padding-left: 40px;
  padding-top: 40px;
  position: relative;
  display: flex;
  width: 55%;
  height: 80%;
  border-radius: 10px;
  background-color: rgb(229,229,229);
  /* background-color: red; */
  color: white;
  /* gap: 70px; */

}

form h3{
  margin-bottom: 30px;
  font-family: fantasy;
  color: black;
  text-decoration: underline rgb(19,82,245);
  text-underline-offset: 10px;
}


form input{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 500px;
  height: 50px;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  padding-left: 15px;
  background-color: rgb(19,82,245);
  color: white;
  
}

textarea{
  width: 500px;
  height: 30vh;
  border-radius: 6px;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 15px;
  background-color: rgb(19,82,245);
  color: white;
}

.submit{
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 45px;
  justify-content: center;
  text-align: center;
  background-color:rgb(19,82,245);
  color: white;
  font-size: 17px;
}
.submit:hover{
  background-color: black;
}
#maps{
  position: absolute;
  display: flex;
  width: 45%;
  height: 55vh;
  border-radius: 10px;
  background-color: rgb(19,82,245);
  margin-left: 50vw;
}

#maps iframe{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* background-color: black; */
}

/* THE FOOTER BEGINS FROM HERE  */
footer{
  margin-top: 30px;
  padding: 20px;
  background-color: rgb(19,82,245);
  width: 100vw;
  color: white;
  height: auto;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* ************************ */
.one{
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
  /* background-color: #A04000; */
}
.two{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  height: 100%;
  /* background-color: #A04000;  */
}
/* ******************************** */
.pages{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100%;
  justify-content: center;
  align-items:flex-start;
  /* background-color: orange; */  
}
.pages a{
  text-decoration: none;
  color:white;
  font-size: large;
}

/* ************* */
.ban{
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(19,82,245);
}

.ban img{
  width: 85%;
  height: auto;
}
/* .ban img{
  animation: autoRun 20s linear infinite;
  z-index: 2;
}
@keyframes autoRun{
  from{
      transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }to{
      transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
} */

.socials{
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: yellow; */
  
}

.socials a{
  text-decoration: none;
  color: white;
}

.socials a:hover{
  color: black;
}
/* ********************************************** */
.address{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: auto;
  justify-content: center;
  align-items:flex-start;
  /* background-color: red; */
  
}
.address .fa-brands{
  text-decoration: none;
  color: white;
 }
 
 .address a{
   text-decoration: none;
   color:white;
   font-size: large;
   padding-left: 15px;
   
 }
 
 .address a:hover{
   color: black;
 }
/* ****************************************  */
.dev{
  display: flex;
  width: 20vw;
  height: 40vh;
  color: white;  
  justify-content: center;
  align-items: last baseline;
  text-align: center;
  /* background-color: gold; */
}

.dev a{
  color: white;
  text-decoration: none;  
}
.dev a:hover{
  color: black;
}

.tag{
 text-shadow:2px 2px 2px grey;
 animation:bayo 2s ease 1s infinite;
}

@keyframes bayo{

 0%{
    transform:rotateX(-45deg);
}
 50%{
    transform:rotateY(45deg);
}
}