@media screen and (max-width: 767px) {

    #home{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .content{
      /* width: 100%; */
    }
    .typewriter{
      /* font-size: 1rem; */
    }
               .cta-button {
            margin-top: 2rem;
            padding: 12px 25px;
            font-size: 1rem;
            font-weight: 600;
            background-color: red;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    
      
}




/* ************************************************************************8 */
@media screen and (max-width: 1023px) {
    #home{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        overflow: hidden;
    }

    /* ************************** */
    /*  */
    #about{
        height: auto;
        flex-direction: column;
        /* background-color: red; */
    }
    .abt-texts{
        margin-top: 3vh;
        padding: 15px;
        width: 100%;
        height: auto;

    }
    .abt-texts h1, h3{
      letter-spacing: 0;
    }
    .abt-texts p{
      width: 90vw;
      font-size: 20px;
      font-weight: normal;
      
      color: white;
      text-align: center;
    }
    .circle-container {
        width: 320px; 
        height: 320px;
        /* background-color: orange;  */
      }
      .circle {
        width: 160px;
        height: 160px;
        border-radius: 50%;
      }
      .circle p, .r-arrow{
        font-size: 15px;
      }
      .r-arrow{
        width: 35px;
        height: 35px;
      }
    /* ************************** */
    /* ***************************** */

    /* ********************** */
    .spinning-section{
        margin-top: 3vh;
        height: auto;
    }
    .box-container {
      
        width: 100%;
        height: 100%;
        gap: 10px;
    }
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; 
      height: 100%; 
      background-color: orange;
    }
     .box:hover .box-text{
        width:100%;
        height: 90%;
      }
   
    .box-text p{
        width: 100%;
        font-size: 18px;
      } 

    /* ****************** */
    .discuss{
        margin-top: 0;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: rgb(19,82,245); */       
      }
      
      .what-we-do, .call-pro{
        margin-top: 20px;
        width: 100%;
        height: auto;
        padding: 10px;
        /* background-color: red; */
      }
      
      /* ******************************** */

     

    /* *********************************** */
    #why{
        margin-top: 30px;
        height: auto;
        width: 100vw;
    }
    
    .why-container{
        margin-top: 30px;
        margin-left: 0;
        width: 95%;
        height: auto;
    }
    /* **************************************8 */
    footer{
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: auto;
      justify-content: center;
      align-items: center;
    }
    .one{
      display: flex;
      width: 100%;
      height: auto;
      /* background-color: #A04000; */
    }
    .two{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10px;
      /* background-color: lime; */
    }

    .ban{
      width: 100%;
      padding-left: 25px;
    }
    .address{
      width: 100%;
    }
  
}



/* ********************************************* */
 /* *********************************************************** */
    @media screen and (max-width: 1023px) {
        .banner .slider{
            width: 160px;
            height: 200px;
            left: calc(50% - 80px);
        }
        
    }
    @media screen and (max-width: 767px) {
        .banner .slider{
            width: 100px;
            height: 150px;
            left: calc(50% - 50px);
        }
    }
   