@media screen and (max-width: 1023px) {
    .projects-texts{
      padding-top: 18vh;
      height: auto;
    }
    .projects-texts{
      width: 100vw;
      height: auto;
    }
    .projects-texts h3{
        font-weight: bold;
    }
    .projects-texts p{
        width: 95%;
        text-align: center;
        padding-top: 10px;
        font-size: 18px;
        color: black;
      }
      
      .modal-content {
        margin-top: 0;
        padding: 0;
        border-radius: 10px;
        width: 95%;
        height: 70%;
      }
      /* *********************************** */
      .projects-vid{
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 100%;
        height: auto;
        /* background-color: red; */
      }
      .vid-cover{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: 25vh;
        /* gap: 20px; */
        /* background-color: #f1c40f;    */
      }

      .motion{
        position: inherit;
        width: 100%;
        height: 100%;
      }




        /* **************************************8 */
     /* **************************************8 */
     footer{
      display: flex;
      flex-direction: column;
      width: 100%;
      /* height: auto; */
      /* justify-content: center; */
      /* align-items: center; */
      /* background-color: red; */
    }
    .one{
      display: flex;
      width: 100%;
      height: auto;
      /* background-color: #A04000; */
    }
    .two{
      /* display: flex; */
      /* flex-direction: column; */
      width: 100%;
      padding: 10px;
      /* background-color: lime; */
    }

    .ban{
      width: 100%;
      padding-left: 25px;
    }
    .address{
      width: 100%;
    }


}