@media screen and (max-width: 1023px) {
    .projects-texts{
      padding-top: 18vh;
      height: auto;
    }
    .projects-texts{
      width: 100vw;
      height: auto;
    }
    .projects-texts h3{
        font-weight: bold;
    }
    .projects-texts p{
        width: 95%;
        text-align: center;
        padding-top: 10px;
        font-size: 18px;
        color: black;
      }
}