@media screen and (max-width: 1023px) {
    .projects-section{
      display: block;
    }
    .project-grid{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, .5fr));
      width: 100%;
    }
    .projects-texts{
      padding-top: 18vh;
      height: auto;
    }
    .projects-texts{
      width: 100vw;
      height: auto;
    }
    .projects-texts h3{
        font-weight: bold;
    }
    .projects-texts p{
        width: 95%;
        text-align: center;
        padding-top: 10px;
        font-size: 18px;
        color: black;
      }
      
      .modal-content {
        margin-top: 0;
        padding: 0;
        border-radius: 10px;
        width: 95%;
        height: 70%;
      }
      /* *********************************** */
      .projects-vid{
        /* margin: 20px; */
        width: 100%;
      }
      .vid-cover{
        width: 85%;
        height: 25vh;
      }

      .motion{
        position: inherit;
        width: 100%;
        height: 100%;
      }




        /* **************************************8 */
     /* **************************************8 */
     footer{
      flex-direction: column;
      width: 100%;
    }
    .one{
      display: flex;
      width: 100%;
      height: auto;
    }
    .two{
      width: 100%;
      padding: 10px;
      /* background-color: lime; */
    }

    .ban{
      width: 100%;
      padding-left: 25px;
    }
    .address{
      width: 100%;
    }


}