/* <!--START- CLIENTS LIST HERE --> */

.client-logos {
  /* padding: 15px; */
  height: auto;
  padding: 3rem;
  overflow: hidden;
  position: relative;
  background-color: rgb(19,82,245);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.client-logos h1{
  font-family: montserrat;
  font-size: 30px;
  font-weight: 800;
  color: white;
}
.client-logos p{
  width: 47%;
  font-size: 18px;
  color: white;
  text-align: center;
}

.logo-track {
  margin-top: 15px;
  display: flex;
  gap: 2.5rem;
  width: max-content;
  animation: scroll 10s linear infinite;
}

.logo-track img {
  height: 80%;
  object-fit: contain;
  max-height: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



 @media screen and (max-width: 767px) {
  .client-logos{
    text-align: center;
    width: 100vw;
    padding: 1rem;
  }
  .client-logos p{
  width: 100%;
}


 }